{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href={% sass_src 'css/modnav.scss' %}>
<link rel="stylesheet" type="text/css" href={% sass_src 'css/lecnav.scss' %}>
<link rel="stylesheet" type="text/css" href={% sass_src 'css/chat.scss' %}>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Create a script for when user presses course materials, it displays the dropdown menu -->
<script>
    $(document).ready(function() {
        $('.lecture-card > .dropdown > a').click(function(e){
            e.preventDefault();
            $(this).next('.dropdown-content').toggle();
        });
    
        $('.dropdown > a').click(function(e){
            e.preventDefault();
            $(this).next('.dropdown-content').toggle();
        });
    });
</script>
{% endblock %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Module 1</title>
</head>
<nav class="module-navbar">
    <ul>
      <li><a href="{% url 'module1' %}">Home</a></li>
      <li class="dropdown">
        <a href="#">Course Materials</a>
        <ul class="dropdown-content">
          <li><a href="{% url 'course_material_1' %}">Course Material</a></li>
        </ul>
      </li>
    </ul>
  </nav>


<nav class="lecture-navbar">
    <ul>
        <li class="dropdown lecture-card">
            <a href="#">Lecture1</a>
            <ul class="dropdown-content">
                <li><a href="#" class="chat-button">Chat with your teacher</a></li>
                <li class="dropdown">
                    <a href="#">Lecture 1.A</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Example File 1</a></li>
                        <li><a href="#">Example File 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Lecture 1.B</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Example File 1</a></li>
                        <li><a href="#">Example File 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Example File 1</a></li>
            </ul>
        </li>
        <li class="dropdown lecture-card">
            <a href="#">Lecture2</a>
            <ul class="dropdown-content">
                <li class="dropdown">
                    <a href="#">Lecture 2.A</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Example File 1</a></li>
                        <li><a href="#">Example File 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Lecture 2.B</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Example File 1</a></li>
                        <li><a href="#">Example File 2</a></li>
                    </ul>
                </li>
                <li><a href="#">Example File 1</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div id = "chat">
    <div id="messages"></div>
    <input id="message" type="text" placeholder="Type your message here">
    <button id="send">Send</button>
</div>

<script>
    document.querySelectorAll('.chat-button').forEach((button) => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            document.getElementById('chat').style.display = 'block';
        });
    });
</script>

<script src="https://cdn.socket.io/3.0.1/socket.io.min.js"></script>

<!-- Create a script for the chat -->
<script>
    const socket = io('http://localhost:3000');
    const message = document.getElementById('message');
    const send = document.getElementById('send');
    const messages = document.getElementById('messages');
    send.addEventListener('click', () => {
        socket.emit('chat message', message.value);
        message.value = '';
    });
    socket.on('chat message', (msg) => {
        const li = document.createElement('li');
        li.textContent = msg;
        messages.appendChild(li);
    });
</script>

</html>
{% endblock content %}