// lecnav.scss

.lecture-card {
    background: #333;
    color: #fff;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.lecture-navbar{
    width: 300px;
    height: 100vh;
    top: 238px;
    left: 100px;
    overflow: auto;
    position: fixed;
}

.lecture-navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.lecture-navbar li{
    position: relative;
}

.lecture-navbar li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.lecture-navbar li ul {
    display: none;
    position: static;
    top: 0;
    left: 75%;
    background: #666;
}

.lecture-navbar li ul li {
    position: relative;
}

.lecture-navbar li ul li ul {
    left: 100%;
    top: 0;
}

.dropdown-content{
    display: none;
}
