{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href={% sass_src 'css/base.scss' %}>
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="header">
            <img src="media\Uni_of_surrey.png" alt="University of Surrey Logo" class="logo" style="float: left">
            <h1 class="title">Surreylearn</h1>
            <a href="{% url 'login' %}" class="login" style="float: right;">Login</a>
            <a href="{% url 'register' %}" class="register" style="float: right;">Register</a>
        </div>