{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{% static 'Surrey_Icon.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href={% sass_src 'css/base.scss' %}>
        {% block head %}{% endblock %}
    </head>

<body>
    {% include "navbar.html" %}
    <main class = "main-content">
        {% block content %}
        {% endblock content %}
    </main>
</body>